*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
}
.container{
    position: relative;
    width: 800px;
    height: 500px;
    background: #222;
}
.container .clip{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.container .clip.clip1{
    background:url(img/praia.jpg) ;
    background-size: cover;
    clip-path: polygon(0 0, 55% 0, 20% 100%, 0% 100%);
}
.container .clip.clip2{
    background:url(img/pexels-hung-tran-3699434.jpg) ;
    background-size: cover;
    clip-path: polygon(55% 0, 100% 0, 45% 100%, 20% 100%);
}
.container .clip.clip3{
    background:url(img/paraiso.jpg);
    background-size: cover;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 45% 100%);
}
.container:hover .clip{
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
.container .clip:hover{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.container .clip .content{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 70%;
    padding: 20px;
    background: #fff;
    opacity: 0;
    transition: 0.5s;

}
.container .clip:hover .content{
    bottom: 0;
    opacity: 1;
}